  * {
    float: left;
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: normal;
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
    transition: all 0.2s ease;
  }
  html, body {
    float: left;
    width: 100%;
  }
  html {
    background: black;
    color: white;
    background-image: url('photo2.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    background-position: center;
  }


  @media
  only screen and (-webkit-min-device-pixel-ratio: 2)      and (min-width: 70px),
  only screen and (   min--moz-device-pixel-ratio: 2)      and (min-width: 70px),
  only screen and (     -o-min-device-pixel-ratio: 2/1)    and (min-width: 70px),
  only screen and (        min-device-pixel-ratio: 2)      and (min-width: 70px),
  only screen and (                min-resolution: 192dpi) and (min-width: 70px),
  only screen and (                min-resolution: 2dppx)  and (min-width: 70px),
  only screen and (min-width: 320px) {

    #logo {
      float: left;
      width: 100%;
      height: 120px;
      line-height: 120px;
      background: none;
    }
    #logo button {
      float: left;
      background: none;
      height: 120px;
      width: 180px;
      border: 0;
    }
    #logo button img {
      float: left;
      width: 48px;
      height: 48px;
      margin-left: 66px;
    }
    #logo h1 {
      float: left;
      text-align: center;
      height: 120px;
      line-height: 120px;
      font-size: 64px;
      text-shadow: inner 0 0 10px black;
      padding-left: 10px;
      font-family: 'Play', sans-serif;
    }
    #logo h1 {
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      -webkit-animation: LOGO 3s infinite; /* Safari 4+ */
      -moz-animation:    LOGO 3s infinite; /* Fx 5+ */
      animation:         LOGO 3s infinite; /* IE 10+, Fx 29+ */
      background-attachment: fixed;
      background-repeat: no-repeat;
      background-size: 100% 100%;
    }
      @-webkit-keyframes LOGO {
      0%, 1% {
      background-color: rgba(255, 255, 255, 0.9);
      color: black;
      }
      49%, 51% {
      background-color: rgba(255, 255, 255, 0.8);
      color: white;
      }
      99%, 100% {
      background-color: rgba(255, 255, 255, 0.9);
      color: white;
      }
      }

    #nav {
      float: left;
      width: 100%;
      background: rgba(0, 0, 0, 0.5);
      height: 0px;
      padding-top: 10px;
      margin-left: 0px;
      border-top-left-radius: 0px;
      overflow: hidden;
    }
    #nav a {
      float: left;
      width: 100%;
      margin-left: 0px;
      font-size: 32px;
      color: white;
      height: 96px;
      line-height: 96px;
      border-radius: 0px;
    }
    #nav a img {
      float: left;
      margin-left: 66px;
      width: 48px;
      height: 48px;
      margin-top: 24px;
    }
    #nav a span {
      float: left;
      margin-left: 76px;
      height: 96px;
      line-height: 96px;
    }
    #nav a:hover {
      background: rgba(0, 0, 0, 0.5);
    }
    .nav_selected {
      background: rgba(0, 0, 0, 0.5);
    }

    #main {
      float: left;
      width: 100%;
      background: rgba(0, 0, 0, 0.5);
      height: 100%;
      border-top-right-radius: 0px;
      overflow: hidden;
      margin-top: 0px;
    }
    .in_main {
      float: left;
      background: rgba(255, 255, 255, 0.9);
      width: 100%;
      margin-top: 0px;
      margin-left: 0px;
      border-radius: 0px;
      color: black;
      padding-bottom: 10px;
    }
    .in_main h2 {
      width: calc(100% - 10px);
      float: left;
      font-size: 64px;
      padding-top: 10px;
      padding-left: 10px;
    }
    .in_main p {
      width: calc(100% - 10px);
      float: left;
      font-size: 32px;
      padding-top: 10px;
      padding-left: 10px;
    }
    .in_main a {
      width: calc(100% - 10px);
      float: left;
      font-size: 32px;
      padding-top: 10px;
      padding-left: 10px;
      color: #119955;
    }
    .in_main img {
      float: left;
      width: calc(50% - 30px);
      margin-left: 10px;
    }

    footer {
      display: none;
    }
    footer a {
      float: left;
      text-align: center;
      width: 100%;
      color: white;
    }

  }


  @media
  only screen and (min-width: 1200px),
  only screen and (-webkit-min-device-pixel-ratio: 2)      and (min-width: 1200px),
  only screen and (   min--moz-device-pixel-ratio: 2)      and (min-width: 1200px),
  only screen and (     -o-min-device-pixel-ratio: 2/1)    and (min-width: 1200px),
  only screen and (        min-device-pixel-ratio: 2)      and (min-width: 1200px),
  only screen and (                min-resolution: 192dpi) and (min-width: 1200px),
  only screen and (                min-resolution: 2dppx)  and (min-width: 1200px) {

    #logo {
      float: left;
      width: 100%;
      height: 30vh;
      background: none;
    }
    #logo button {
      display: none;
    }
    #logo h1 {
      float: left;
      width: 100%;
      text-align: center;
      line-height: 30vh;
      height: 30vh;
      font-size: 10vh;
      text-shadow: inner 0 0 10px black;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      -webkit-animation: LOGO 3s infinite; /* Safari 4+ */
      -moz-animation:    LOGO 3s infinite; /* Fx 5+ */
      animation:         LOGO 3s infinite; /* IE 10+, Fx 29+ */
      background-attachment: fixed;
      background-repeat: no-repeat;
      background-size: 100% 100%;
      padding-left: 0px;
      font-family: 'Play', sans-serif;
    }
      @-webkit-keyframes LOGO {
      0%, 1% {
      background-color: rgba(255, 255, 255, 0.9);
      color: black;
      }
      49%, 51% {
      background-color: rgba(255, 255, 255, 0.8);
      color: white;
      }
      99%, 100% {
      background-color: rgba(255, 255, 255, 0.9);
      color: white;
      }
      }

    #nav {
      float: left;
      width: 260px;
      background: rgba(0, 0, 0, 0.5);
      min-height: 70vh;
      max-height: 100vh;
      padding-top: 10px;
      margin-left: calc(50% - 630px);
      border-top-left-radius: 10px;
      display: block;
      position: sticky;
      top: 100px;
    }
    #nav a {
      float: left;
      width: calc(100% - 10px);
      margin-left: 10px;
      font-size: 16px;
      color: white;
      height: 48px;
      line-height: 48px;
      border-radius: 5px;
    }
    #nav a img {
      float: left;
      margin-left: 20px;
      width: 24px;
      height: 24px;
      margin-top: 12px;
    }
    #nav a span {
      float: left;
      margin-left: 30px;
      height: 48px;
      line-height: 48px;
    }
    #nav a:hover {
      background: rgba(0, 0, 0, 0.5);
    }
    .nav_selected {
      background: rgba(0, 0, 0, 0.5);
    }

    #main {
      float: left;
      width: 1000px;
      background: rgba(0, 0, 0, 0.5);
      border-top-right-radius: 10px;
      min-height: 70vh;
      padding-bottom: 10px;
    }
    .in_main {
      float: left;
      background: rgba(255, 255, 255, 0.9);
      width: calc(100% - 20px);
      margin-top: 10px;
      margin-left: 10px;
      border-radius: 5px;
      color: black;
      padding-bottom: 10px;
    }
    .in_main h2 {
      width: calc(100% - 10px);
      float: left;
      font-size: 32px;
      padding-top: 10px;
      padding-left: 10px;
    }
    .in_main p {
      width: calc(100% - 10px);
      float: left;
      font-size: 16px;
      padding-top: 10px;
      padding-left: 10px;
    }
    .in_main a {
      width: calc(100% - 10px);
      float: left;
      font-size: 16px;
      padding-top: 10px;
      padding-left: 10px;
      color: #119955;
    }
    .in_main img {
      float: left;
      width: calc(50% - 30px);
      margin-left: 10px;
    }

    footer {
      float: left;
      width: 100%;
      position: absolute;
      bottom: 0px;
      left: 0px;
      display: block;
    }
    footer a {
      float: left;
      text-align: center;
      width: 100%;
      color: white;
    }

  }
